* {
    margin: 0;

}
.container {
    width: 100%;
    height: 100vh;
}
.navigacija {
   width: 100%;
   height: 70px;
   background-color: rgb(189, 189, 189);
   display: inline-flex;

}
.navigacija h1 {
    font-family: fantasy;
}
.navigacija h2 {
    font-family: fantasy;
    margin-top: 35px;
    margin-left: -90px;
    font-size: 25px;
}
.linkovi  {
 display: inline-flex;
 padding: 20px;
 margin-left: 900px;

}
.linkovi a {
    float: left;
    padding: 15px;
    color: black;
    font-family: fantasy;
    font-size: medium;
    text-decoration: none;

}
.main {
    background-color: rgb(185, 185, 185);    
    width: 100%;
    height: 40vh;
}
.main-sadrzaj {
    width: 50%;

}
.main-sadrzaj h1 {
    font-size: 50px;
    font-weight: 700;
    font-family: fantasy;
    padding-left: 10px;
    padding-top: 20px;
}
.main-sadrzaj h1 span {
    color: white;
    text-decoration: underline;
}
.main-sadrzaj p {
    font-family: fantasy;
    width: 70%;
    font-size: 17px;
    padding-left: 10px;
}
.main-sadrzaj img {
   position: relative;
   margin-left: 150%;
   margin-top: -300px;
   z-index: 2;
   
   
   
}
